/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: 'Righteous', cursive, "Noto Sans JP", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.l-container {
  width: 80vw;
  margin: 0 auto;
}

.l-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 120px;
}

@media (min-width: 1024px) {
  .l-header {
    height: 150px;
  }
}

.p-fv {
  position: relative;
  height: 100vh;
}

.p-fv__kv {
  width: 100%;
  height: 100vh;
  background-image: url(../images/kv.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-fv__kv__box {
  position: absolute;
  top: 50%;
  left: 10vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

@media (min-width: 768px) {
  .p-fv__kv__box {
    left: 20vw;
  }
}

.p-fv__kv__box__title {
  font-size: 60px;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  .p-fv__kv__box__title {
    font-size: 80px;
  }
}

.p-fv__kv__box__text {
  margin-top: 20px;
  line-height: 1.5;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

@media (min-width: 1024px) {
  .p-header {
    height: 150px;
  }
}

.p-header__left__a {
  display: block;
}

.p-header__left__a__title {
  color: #fff;
  font-size: 24px;
}

@media (min-width: 1024px) {
  .p-header__left__a__title {
    font-size: 36px;
  }
}

.p-header__right__nav {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70vh;
}

.p-header__right__nav.menu-open {
  display: block;
  position: absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.p-header__right__nav__ul {
  width: 80%;
  margin: 120px auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .p-header__right__nav__ul {
    margin: 150px auto;
  }
}

.p-header__right__nav__ul__li {
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .p-header__right__nav__ul__li {
    margin-bottom: 50px;
  }
}

.p-header__right__nav__ul__li a {
  color: #000;
  font-size: 36px;
}

@media (min-width: 1024px) {
  .p-header__right__nav__ul__li a {
    font-size: 48px;
  }
}

.p-header__right__burger-btn {
  background-color: transparent;
  border: none;
  outline: none !important;
}

.p-header__right__burger-btn__bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-bottom: 9px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

@media (min-width: 1024px) {
  .p-header__right__burger-btn__bar {
    width: 36px;
    height: 3px;
    border-radius: 1.5px;
    margin-bottom: 12px;
  }
}

.p-header__right__burger-btn__bar:last-child {
  margin: 0;
}

.p-header__right__burger-btn__bar.menu-open {
  background-color: #000;
}

.p-header__right__burger-btn.menu-open > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(315deg);
          transform: translateY(11px) rotate(315deg);
}

@media (min-width: 1024px) {
  .p-header__right__burger-btn.menu-open > span:nth-child(1) {
    -webkit-transform: translateY(15px) rotate(315deg);
            transform: translateY(15px) rotate(315deg);
  }
}

.p-header__right__burger-btn.menu-open > span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.p-header__right__burger-btn.menu-open > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-315deg);
          transform: translateY(-11px) rotate(-315deg);
}

@media (min-width: 1024px) {
  .p-header__right__burger-btn.menu-open > span:nth-child(3) {
    -webkit-transform: translateY(-15px) rotate(-315deg);
            transform: translateY(-15px) rotate(-315deg);
  }
}
/*# sourceMappingURL=style.css.map */