.p-about {
    padding: 120px 0;
    background-color: $cgray;

    @include pc {
        padding: 150px 0;
    }

    &__title {
        margin-bottom: 120px;
        text-align: center;

        @include tab {
            margin-bottom: 120px;
        }
        @include pc {
            margin-bottom: 150px;
        }

    }

    &__left {
        width: 50%;
        margin: 0 auto 60px;

        @include tab {
            width: 30%;
        }
        @include pc {
            width: 25%;
        }

        img {
            border-radius: 50%;
        }
    }

    &__right {
        @include tab {
            width: 50%;
        }

        &__profile {
            margin-bottom: 60px;

            @include tab {
                margin-bottom: 120px;
            }

            h3 {
                margin-bottom: 10px;
                font-size: 36px;
                text-align: center;
            }

            hr {
                width: 30px;
                margin: 0 auto 40px;

                @include tab {
                    margin: 0 auto 60px;
                }
            }

            p {
                margin-bottom: 30px;
                font-family: "Noto Sans JP", sans-serif;
                line-height: 1.5;
            }
        }

        &__skill {
            h3 {
                margin-bottom: 10px;
                font-size: 36px;
                text-align: center;
            }

            hr {
                width: 30px;
                margin: 0 auto 40px;

                @include tab {
                    margin: 0 auto 60px;
                }
            }

            &__box {
                max-width: 60vw;
                margin: 0 auto;

                @include tab {
                    max-width: 30vw;
                }

                li {
                    text-align: center;
            
                    .fab {
                        font-size: 80px;
                        margin-bottom: 20px;
            
                        @include pc {
                            font-size: 100px;
                        }
                    }
            
                    img {
                        width: 80px;
                        margin-bottom: 20px;
            
                        @include pc {
                            width: 100px;
                        }
                    }
            
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}