.p-fv {
    position: relative;
    height: 100vh;
    
    &__kv {
        width: 100%;
        height: 100vh;
        background-image: url(../images/kv.jpeg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &__box {
            position: absolute;
            top: 50%;
            left: 10vw;
            transform: translateY(-50%);
            color: $cwhite;

            @include tab {
                left: 20vw;
            };

            &__title {
                font-size: 60px;
                line-height: 1.2;

                @include tab {

                };
                @include pc {
                    font-size: 80px;
                };
            }

            &__text {
                margin-top: 20px;
                line-height: 1.5;
            }
        }
    }
}