.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    @include pc {
        height: 150px;
    }

    &__left {
        &__a {
            display: block;

            &__title {
                color: $cwhite;
                font-size: 24px;

                transition: color 0.4s ease-out;

                @include pc {
                    font-size: 40px;
                }

                &.color {
                    color: $cblack;
                    transition: color 0.4s ease-out;
                }
            }
        }
    }

    &__right {
        &__nav {
            display: block;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($cwhite, $alpha: .9);
            transform: translateY(-100%);
            transition: all 0.7s;

            &.menu-open {
                position: absolute;
                left: 0;
                transform: none;
            }

            &__ul {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;

                @include pc {
                    
                }

                &__li {
                    margin-bottom: 30px;

                    @include pc {
                        margin-bottom: 50px;
                    }

                    a {
                        color: $cblack;
                        font-size: 36px;

                        @include pc {
                            font-size: 48px;
                        }
                    }
                }
            }
        }

        &__burger-btn {
            background-color: transparent;
            border: none;
            outline: none !important;

            &__bar {
                display: block;
                width: 24px;
                height: 2px;
                border-radius: 1px;
                background-color: $cwhite;
                margin-bottom: 9px;
                transition: all .7s;

                @include pc {
                    width: 36px;
                    height: 3px;
                    border-radius: 1.5px;
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin: 0;
                }

                &.menu-open {
                    background-color: $cblack;
                }

                &.color {
                    background-color: $cblack;
                }
            }

            &.menu-open {
                & > span {
                    &:nth-child(1) {
                        transform: translateY(11px) rotate(315deg);

                        @include pc {
                            transform: translateY(15px) rotate(315deg);
                        }
                    }

                    &:nth-child(2) {
                        transform: scaleX(0);
                    }

                    &:nth-child(3) {
                        transform: translateY(-11px) rotate(-315deg);

                        @include pc {
                            transform: translateY(-15px) rotate(-315deg);
                        }
                    }
                }
            }
        }
    }
}